<ul class="links">
  <li class="{% if page.url == "/" %} active {% endif %}"><a href="{{ "/" | absolute_url }}">Home</a></li>
  <li class="{% if page.url contains '/about/' %} active {% endif %}"><a href="{{ "/about/" | absolute_url }}">About</a></li>
  <li class="{% if page.url contains '/resume/' %} active {% endif %}"><a href="{{ "/resume/" | absolute_url }}">Resume</a></li>
  <!-- <li class="{% if page.url contains '/blog/' %} active {% endif %}"><a href="{{ "/blog/" | absolute_url }}">Blog</a></li> -->
  <li class="{% if page.url contains '/ku/' %} active {% endif %}"><a href="{{ "/ku/" | absolute_url }}">Korea University</a></li>
  <li class="{% if page.url contains '/etym/' %} active {% endif %}"><a href="{{ "/etym/" | absolute_url }}">Etymology</a></li>
  <!-- <li class="{% if page.url contains '/elements/' %} active {% endif %}"><a href="{{ "/elements/" | absolute_url }}">Elements Reference</a></li> -->
</ul>
